.body {
	background-color: lightgray;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}



.result {
	background-color: rgb(194, 31, 31);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
	border-radius: 2%;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
	
	}




.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 2%;
	}

button {
	background-color: gray;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

